.cities-cards {
  display: flex;
  flex-direction: column;
  gap: var(--main-flex-gap);
  padding: var(--main-padding-m);

}

.popular-city-card{
  display: flex;
  flex-direction: column;
}

.popular-city-card .bottom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-card-main {
  display: flex;
}