body {
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: var(--darkest-grey); */
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#weather {
  height: 80svh;
  width: 80svw;

  display: flex;
  background-color: aquamarine;
  padding: 20px;
  justify-content: flex-start;
}