body {
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: var(--darkest-grey); */
  background-color: var(--darkest-grey);
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#weather {
  display: flex;
  padding: var(--main-border-radius);
  justify-content: flex-start;
}

.card{
  background-color: var(--mid-grey);
  overflow: hidden;
  border-radius: var(--main-border-radius);
}

h2{
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-l);
}

h3{
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-s);
  line-height: var(--line-height-h3);
}

p{
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-m);
}

