:root{
  /* COLORS */
  --darkest-grey:#111015;
  --mid-grey: #1e1e1e

  /* FONTS */
  --main-font: "montserrat", sans-serif;
  --font-weight-m: 500,
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}